<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app-name":"test-api", "category":"framework"}</customFields>
            <fieldNames>
                <timestamp>time</timestamp>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="APPLICATION" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app-name":"test-api", "category":"application"}</customFields>
            <fieldNames>
                <timestamp>time</timestamp>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <logger name="com.tirmizee" level="INFO" additivity="false">
        <appender-ref ref="APPLICATION"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
