<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %X{requestId} %file -> %M\(%line\) - %msg%n
            </pattern>
        </layout>
    </appender>
    <logger name="com.tirmizee" level="debug" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <root level="error">
        <appender-ref ref="Console"/>
    </root>
</configuration>